<%= render partial:"/home/tab_bar"%>

<div class="row">
  <div class="col m8 center">
    <h4>List of Locations</h4>
  </div>
  <div class="col m3 right-align" style="padding-top:20px;">
  <%= link_to "<i class='material-icons'>add</i>".html_safe, new_location_path, 
        class:"btn-floating btn waves-effect waves-light blue ocm-default"%>
  </div>
</div>

<table class="highlight centered">
  <thead>
    <tr>
      <th>Location Code</th>
      <th>City</th>
      <th>District</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.code %></td>
      <td><%= location.city %></td>
      <td><%= location.district %></td>
      <td><%= link_to "<i class='material-icons'>keyboard_arrow_right</i>".html_safe, 
              location_path(location), 
              class:"btn-floating btn-medium waves-effect waves-light blue ocm-default" %></td>
    </tr>
  <% end %>
  </tbody>
</table>