<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Location", bifurcate_path, style:"padding-left:8px;" %></li>
  <li><%= link_to "X-Employees", employees_path(status: "left"), style:"padding-left:8px;"%></li>
  <li class="divider" tabindex="-1"></li>
  <li><%= link_to "Configuration", configuration_path, style: "padding-left:8px;" %></li>
</ul>
<nav>
  <div class="nav-wrapper blue ocm-default">
    <div class="container">
      <a href="/" class="brand-logo">OCM</a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to "Employees", employees_path %></li>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Configuration<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<script>
  // $('.dropdown-trigger').dropdown();
  document.addEventListener('turbolinks:load', () => {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
</script>