<div class="row">
  <div class="col m8">
  <h4>Posting details of <%= @employee.name %></h4>
  </div>
  <div class="col m3 right-align" style="padding-top:20px;">
  <%= link_to "<i class='material-icons'>add</i>".html_safe, new_employee_posting_history_path(@employee), 
        class:"btn-floating btn waves-effect waves-light blue ocm-default"%>
  </div>
</div>

<table class="highlight centered">
  <thead>
    <tr>
      <th>Location</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @posting_histories.each do |posting_history| %>
    <tr>
      <td><%= posting_history.location.city + ', ' + posting_history.location.district %></td>
      <td><%= posting_history.start_date.strftime("%d-%b-%y") %></td>
      <td><%= posting_history.end_date.blank? ? "Current" : posting_history.end_date.strftime("%d-%b-%y") %></td>
      <td><%= link_to "<i class='material-icons'>edit</i> Open".html_safe, 
              edit_employee_posting_history_path(@employee,posting_history), 
              class:"btn-floating btn-medium waves-effect waves-light blue ocm-default" %></td>
    </tr>
  <% end %>
  </tbody>
</table>